/**
 * Roboto
 */
@import "../fonts/Roboto/style/roboto.css";

/**
 * Font Awesome
 */
@import "../fonts/font-awesome-4.7.0/css/font-awesome.css";

/**
 * Icons
 */
@import "./icons.css";

/**
 * Tailwind preflight
 */
@tailwind preflight;

/**
 * Custom component classes
 */

/**
 * Tailwind utilities
 */
 @tailwind utilities;

/**
 * Custom utilities
 */

 html,
 body,
 #app {
    @apply .font-sans .min-h-full .bg-grey-lightest;
    height: 100%;
}

/*
 * Typography
 */

.link {
    @apply .inline-block .align-baseline .text-blue .no-underline;

    &:hover {
        @apply .text-blue-dark;
    }
}

/*
 * Buttons
 */

.button {
    @apply .no-underline .text-blue-dark .border .border-blue .px-6 .py-4 .rounded;

    &:hover {
        @apply .border-blue-light .bg-blue-light;
    }

    &--primary {
        @apply .bg-blue .text-white;

        &:hover {
            @apply .border-blue-dark .bg-blue-dark;
        }
    }

    &--disabled {
        @apply .text-grey-darker .border-grey .bg-grey;
    }
}

/*
 * Forms
 */

.field {
    &__label {
        @apply .block .text-grey-darker .text-sm .mb-2;
    }

    &__input {
        @apply .shadow .appearance-none .border .rounded .w-full .py-3 .px-4 .text-grey-darker;
    }

    &__msg {
        @apply .text-grey .text-xs;
    }

    &--error {
        &.field__input {
            @apply .border-red
        }

        &.field__msg {
            @apply .text-red .italic;
        }
    }
}

/*
 * Navigation
 */

.nav-link {
    @apply .no-underline .uppercase .text-grey-dark .px-4 .py-6;

    &:hover {
        @apply .text-blue;
    }
}

/*
 * Hero
 */

.hero {
    &--home {
        margin-top: 140px;
    }
}