<template>
    <div>
        <div class="flex items-center">
            <div ref="titleEditor" class="font-light text-2xl pb-0 flex-grow"></div>
            <spinner v-show="isSavingChanges" class="spinner flex-shrink pb-1 pr-3"></spinner>
        </div>
        <div ref="contentEditor" class="border-b text-base font-normal border-brand-lightest"></div>
    </div>
</template>

<script>
    import { get, find, cloneDeep } from 'lodash'
    import Spinner from './Spinner'
    import Quill from 'quill'

    const Delta = Quill.import('delta')
    const SAVING_INTERVAL = 4000

    export default {
        components: {
            Spinner,
        },

        data () {
            return {
                api: null,
                title: null,
                content: { ops: [] },

                // Determine if the content is being saved in a given time.
                isSavingChanges: false,

                // Changes are captured from Delta object and help us
                // to calculate if any change needs to be saved.
                titleChanges: new Delta(),
                contentChanges: new Delta(),

                // Define options for the Title editor.
                titleEditor: null,
                titleEditorOptions: {
                    modules: {
                        toolbar: false
                    }
                },

                // Define options for the Content editor.
                contentEditor: null,
                contentEditorOptions: {
                    modules: {
                        toolbar: [
                        [{ header: [1, 2, false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block']
                        ]
                    },
                    placeholder: 'Conteúdo aqui...',
                    theme: 'bubble'
                },
            }
        },

        mounted () {
            this.loadData()
        },

        methods: {
            loadData () {
                this.api = this.$el.dataset.api
                this.title = this.$el.dataset.title || ''
                this.content = JSON.parse(this.$el.dataset.content)

                setTimeout(() => {
                    this.initEditor()
                }, 100)
            },

            initEditor () {
                if (! this.editor) {
                    this.contentEditor = new Quill(this.$refs.contentEditor, this.contentEditorOptions)
                    this.titleEditor = new Quill(this.$refs.titleEditor, this.titleEditorOptions)
                }

                this.contentEditor.off('text-change', this.onContentChange)
                this.contentEditor.setContents(this.content)
                this.contentEditor.on('text-change', this.onContentChange)

                this.titleEditor.off('text-change', this.onTitleChange)
                this.titleEditor.setText(this.title)
                this.titleEditor.on('text-change', this.onTitleChange)

                setInterval(() => this.saveChanges(), SAVING_INTERVAL)
            },

            onTitleChange (delta) {
                this.titleChanges = this.titleChanges.compose(delta)
                this.title = this.titleEditor.getText()
            },

            onContentChange (delta) {
                this.contentChanges = this.contentChanges.compose(delta)
                this.content = this.contentEditor.getContents()
            },

            saveChanges () {
                if ((this.contentChanges.length() || this.titleChanges.length()) && !this.isSavingChanges) {
                    const data = {
                        title: this.title,
                        file_content: this.content,
                    }

                    this.isSavingChanges = true

                    window.axios.patch(`${this.api}`, data)
                        .then((data) => {
                            return get(data, 'data')
                        })
                        .then(({ data }) => {
                            const { title, file_content } = data

                            this.title = title
                            this.content = file_content
                            this.isSavingChanges = false

                            this.contentChanges = new Delta()
                            this.titleChanges = new Delta()

                            return data
                        })
                        .catch(() => {
                            this.isSavingChanges = false
                        })
                }

                return Promise.resolve()
            }
        }
    }
</script>
