<template>
  <div class="loader">
    <div class="loader__circle border-2 border-brand"></div>
  </div>
</template>

<style scoped>
  .loader {
    display: inline-block;
  }

  .loader__circle,
  .loader__circle:after {
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }

  .loader__circle {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-left-color: #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
