/**
 * Quill
 */
@import '~quill/dist/quill.bubble.css';

.input--section-title {
  font-weight: 300;
  font-size: 2rem;
  padding: 0;
  line-height: 3rem;
  border: 0;
}

.ql-editor {
  font-size: 18px;
  min-height: 120px;
  padding: 0;
}

.ql-editor p {
  font-size: 1em;
}
